*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: paleturquoise;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: cadetblue;
    padding: 20px;
    border: 2px solid black;
}

.header h1{
    font-size: 40px;
}

.header h3{
    font-size: 30px;

}

.tlacitko {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: cadetblue;
    padding: 8px;
    border: 2px solid black;
}

.tlacitko .btn{
    padding: 10px;
    background-color: darkred;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid black;
}

.barvy{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}


.barvy .color{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 2px solid black;
    background-color: aqua;
}

.fade{
    opacity: 0;
    transition: all 0.5s;
}


.dif{
    padding: 10px;
    
}

.dif .btn {
    padding: 10px;
    background-color: darkred;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid black;
}

.dif p{
    color: black;
}

